.chat-notification
  %p.chat-notification チャットグループが作成されました。
.whole-layout
  .chat-side
    .chat-user.clearfix
      %h5.topicname kimiko
      .chat-user__actions
        %a.chat-user__action
          %i.fa.fa-pencil-square-o
        %a.chat-user__action
          %i.fa.fa-cog
    %ul.chat-groups
      %li.chat-group
        %a.chat-group__link
          %p.chat-group__name test
          %p.chat-group__message a
      %li.chat-group
        %a.chat-group__link
          %p.chat-group__name test
          %p.chat-group__message test
  .chat-main
    .chat-header.clearfix
      .chat-header--left
        %h2.messagetitle test
        %p.chat-header__users
          Members:
          %span.chat-heaeder__user kimiko
      .chat-header--right
        %a.chat-header__edit-btn Edit
    .chat-body
      %ul.chat-message
        %li.chat-message
          .chat-message__header.clearfix
            %p.chat-message__name kimiko
            %p.chat-message__time 2000/02/02 02:02:02
          %p.chat-message__body test
    .chat-footer
      .chat-footer__body
        %textarea.messageplace#message_body{row: "1", placeholder: "type a message", name: "message[body]", id: "message_body"}
        %label.chat-footer__file
          %i.fa.fa-image
      %input.sendbtn{name: "commit", type: "submit", value: "Send"}
