.whole-layout
  = render 'sidebar', groups: @groups
  .chat-main
    .chat-header.clearfix
      .chat-header--left
        %h2.messagetitle test
        %p.chat-header__users
          Members:
          %span.chat-heaeder__user kimiko
      .chat-header--right
        = link_to edit_group_path(@group) do
          %p.chat-header__edit-btn Edit
    .chat-body
      %ul.chat-message
        %li.chat-message
          .chat-message__header.clearfix
            %p.chat-message__name kimiko
            %p.chat-message__time 1990/12/26 19:27:00
          %p.chat-message__body test
    .chat-footer
      .chat-footer__body
        %textarea.messageplace#message_body{ row: "1", placeholder: "type a message", name: "message[body]", id: "message_body" }
        %label.chat-footer__file
          %i.fa.fa-image
      %input.sendbtn{ name: "commit", type: "submit", value: "Send" }
